html, body {
  margin: 10;
  padding: 10;
  font-family: Tahoma, Geneva, sans-serif;
}

h1, h2, h3 {
  margin-top: 6px;
  margin-bottom: 3px;
}

a {
  color: black;
}

a:hover {
  color: gray;
  }

.subtitle {
  font-style: italic;
  font-size: 0.85em;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.smallprint {
  font-style: italic;
  font-size: 0.7em;
}

.separator {
  font-size: 0.8em;
  font-weight: bold;
}

.angleinfo {
  font-weight: bold;
  font-size: 0.85em;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.angleexample {
  font-style: italic;
  font-size: 0.85em;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

label {
  display: block;
  float: left;
  width: 160px;
}

input {
  width: 90px;
}

ul {
  margin: 0px;
  padding: 0px;
  width: 300px;
}

li {
  display: block;
  font-size: 0.85em;
  padding-left: 10px;
  background-color: #eeeeee;
}

#title, #quicklinks, #sparcalc, #anglecalc, #hullcalc, #sailcalc {
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 0px 0px 3px 0px;
  padding: 6px 0px 10px 0px;
}
